footer {
    position: fixed;
    display: flex;
    max-width: inherit;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    height: 64px;
    z-index: 20;

    a,
    button {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #333;
        border: none;

        svg {
            width: 32px;
            height: 32px;

            &:hover {
                color: #FF9500;
            }
        }

    }

    .qr-code {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 64px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.react-modal-sheet-container {
    max-width: 1024px;
    left: 50% !important;
    transform: translateX(-50%) !important;

    .react-modal-sheet-content {
        align-items: center;

        .qr-code-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 80vh;
            padding: 24px 32px;

            img {
                max-width: 80%;
                object-fit: contain;
            }

            video {
                padding: 20px 0;
                object-fit: cover;
                max-width: 560px;
            }

            p {
                max-width: 50%;
                font-size: 24px;
                text-align: center;
                color: #a8a6a6;
                padding-top: 32px;
            }

            .qr-button {
                color: #FFF;
                width: 420px;
                max-width: 90%;
                margin-top: auto;
                font-size: 20px;
                padding: 18px;
                border: none;
                background-color: #FE7D55;
            }

            @media screen and (max-width: 728px) {
                padding: 18px 24px;

                img {
                    width: 240px;
                    height: auto;
                }

                video {
                    max-width: 460px;
                    height: auto;
                    aspect-ratio: 1/1;
                }

                p {
                    padding-top: 18px;
                    max-width: 100%;
                    font-size: 18px;
                }
            }

            @media screen and (max-width: 640px) {
                padding: 18px 24px;

                img {
                    width: 240px;
                    height: auto;
                }

                video {
                    max-width: 380px;
                }

                p {
                    padding-top: 18px;
                    max-width: 100%;
                    font-size: 18px;
                }
            }

            @media screen and (max-width: 375px) {
                padding: 18px;

                img {
                    width: 220px;
                }

                video {
                    max-width: 320px;
                }
            }
        }

        .logout {
            padding: 20px;
            padding-top: 0;
            width: 100%;
            max-width: 640px;
            gap: 8px;
            display: flex;
            flex-direction: column;

            h4 {
                font-weight: 600;
            }

            button {
                border: 2px #E2E8F0 solid;
                padding: 10px;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}