main {
    width: 100%;
    min-height: 100vh;
    background: #F8FAFC;
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
        width: fit-content;
        text-align: center;
    }

    form {
        width: 100%;
        max-width: 600px;
        padding: 16px 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .required::after {
            content: " *";
            color: red;
        }

        a {
            width: 100%;
            margin: 0 auto;
            max-width: 400px;
        }

        button {
            height: 48px;
        }

        p {
            width: 100%;
        }
    }

}